{% extends 'layout.html' %}


{% block body %}


    <div class="row" style="height: 1000px">
        <div class="column sideleft" style="width: 5%;">

        </div>

        <div class="column middle" style="width: 60%">
            <h3>Latest</h3>
            <hr>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://www.medicinenet.com/healthy_living/article.htm">

                            <img src="../static/healthy-living2.jpeg" class="card-img" alt="..."
                                 style="height: 17vw">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Health Tips for Healthy Living</h5>
                            </a>
                            <p class="card-text">"Healthy living" to most people means both physical and mental health
                                are in balance or functioning well together in a person.
                                In many instances, physical and mental health are closely linked, so that a change
                                (good or bad) in one directly affects the other.</p>
                            <p class="card-text"><small class="text-muted">Medical Author: Charles Patrick Davis, MD,
                                PhD </small></p>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://www.webmd.com/diet/obesity/news/20200108/what-matters-more-for-obesity-risk-genes-or-lifestyle">

                            <img src="../static/obesity.jpeg" class="card-img" alt="..." style="height: 17vw">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Obesity</h5>
                            </a>
                            <p class="card-text">WEDNESDAY, Jan. 8, 2020 (HealthDay News) -- A new study suggests that
                                genetics is not destiny when it comes to your odds of becoming obese.
                                For years, research into "obesity genes" has led many Americans to believe that their
                                DNA makes becoming overweight and obese inevitable.
                                But the new study shows that daily lifestyle -- not genes -- probably plays the much
                                bigger role.</p>
                            <p class="card-text"><small class="text-muted">By E.J. Mundell, HealthDay Reporter</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://www.healthline.com/health/fitness-exercise-eating-healthy">

                            <img src="../static/apples.jpeg" class="card-img" alt="..." style="height: 17vw">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Eating the Right Foods for Exercise</h5>
                            </a>
                            <p class="card-text"> Nutrition is important for fitness
                                Eating a well-balanced diet can help you get the calories and nutrients you need to fuel
                                your daily activities, including regular exercise.
                                When it comes to eating foods to fuel your exercise performance, it’s not as simple as
                                choosing vegetables over doughnuts. You need to eat the right types of food at the right
                                times of the day.
                                Learn about the importance of healthy breakfasts, workout snacks, and meal plans.</p>
                            <p class="card-text"><small class="text-muted">by Dana Sullivan Kilroy</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://holisticliving.co.ke/our-services/digestive-system-detox/?gclid=Cj0KCQiAsbrxBRDpARIsAAnnz_MV13p19mUz2oYC_D49l0fKY7vMV1UqlzT6oGLMhrWKc04K__KC0y4aAkw6EALw_wcB">

                            <img src="../static/original-woman-drinking-glass.jpeg" class="card-img" alt="..."
                                 style="height: 17vw">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Revitalize your body</h5>
                            </a>
                            <p class="card-text">Detoxification of the body is an oral procedure of hydrotherapy of the
                                whole digestive system
                                from the mouth to the colon for the purpose of eliminating toxins and allergens from the
                                body.</p>
                            <p class="card-text"><small class="text-muted">Nairobi Bariatric Centre</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>


        </div>

        <div class="column sideright" style="width: 30%;">
            <h4>Related Articles</h4>
            <hr>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://www.nation.co.ke/business/seedsofgold/A-Z-of-eating-right-to-remain-healthy/2301238-4727126-13mob8s/index.html">
                            <img src="../static/diet.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">A-Z of eating right to remain healthy</h5>
                            </a>
                            <p class="card-text"><small class="text-muted">By Faith Ndungi, Daily Nation</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://healthkenya.co.ke/health-made-home-hospitals-repairs/">
                            <img src="../static/Image-from-CDC.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Health is made at home, hospitals are for repairs</h5>
                            </a>
                            <p class="card-text"><small class="text-muted">Tabitha on Health, Health Kenya</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

                           <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://www.healthline.com/nutrition/50-super-healthy-foods">
                            <img src="../static/healthy-eating-ingredients.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">50 Foods That Are Super Healthy</h5>
                            </a>
                            <p class="card-text"><small class="text-muted">Written by Kris Gunnars, BSc on June 13, 2019</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

                     <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="https://www.webmd.com/food-recipes/video/how-to-pick-avocado">
                            <img src="../static/avocado2.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">How to Choose the Perfect Avocado</h5>
                            </a>
                            <p class="card-text"><small class="text-muted">Food and Recipes, WebMD</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        </div>


    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>






    <script src="js/bootstrap.min.js"></script>


    {% endblock body %}
