{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% endblock head %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <div class="container" id="main-section">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Signup here</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li class="alert alert-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for("signup") }}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-group">
                        <label for="">Username</label><br>
                        <input type="text" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="">First name</label><br>
                        <input type="text" name="first_name" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label for="">Last name</label><br>
                        <input type="text" name="last_name" placeholder="Enter last name">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label><br>
                        <input type="email" name="email" placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="">Password</label><br>
                        <input type="password" name="password" placeholder="Enter password">
                    </div>

                    <input type="submit" value="Signup">
                    <br>
                    <br>
                    <p id="emailHelp" class="form-text text-muted">We'll never share your personal information.</p>

                </fieldset>
            </form>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




{% endblock body %}